<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>facet by facet</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>facet</h1>
          <h2>extensible, framework agnostic JSON API platform for Node.js</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/facet/platform/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/facet/platform/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/facet/platform" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <hr>

        <section id="main_content">
          {{ content }}
        </section>

        <footer>
          facet is maintained by <a href="https://github.com/facet">facet</a>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="{{site.path}}/javascripts/main.js" type="text/javascript"></script>
        <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
          try {
            var pageTracker = _gat._getTracker("UA-52060208-1");
          pageTracker._trackPageview();
          } catch(err) {}
        </script>

      </div>
    </div>
  </body>
</html>
